<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Login</title>

</head>

<body>
    <a href="/auth/fb">
        <button type="button" name="button">Login with Facebook</button>
    </a>
</body>

</html>